In [5]:
import pandas as pd

df = pd.read_csv('cars.csv')

In [6]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevrolet s-10

In [7]:
df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [8]:
df.head(20)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761,9.5,70,usa,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,europe,vw 1131 deluxe sedan

In [7]:
pd.options.display.max_rows = 45

In [9]:
pd.options.display.min_rows = None

In [10]:
pd

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [10]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761,9.5,70,usa,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
14,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,europe,vw 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
...,...,...,...,...,...,...,...,...,...
376,37.0,4,91.0,68.0,2025,18.2,82,japan,mazda glc custom l
377,31.0,4,91.0,68.0,1970,17.6,82,japan,mazda glc custom
378,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
379,36.0,4,98.0,70.0,2125,17.3,82,usa,mercury lynx l
380,36.0,4,120.0,88.0,2160,14.5,82,japan,nissan stanza xe
381,36.0,4,107.0,75.0,2205,14.5,82,japan,honda accord
382,34.0,4,108.0,70.0,2245,16.9,82,japan,toyota corolla
383,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
384,32.0,4,91.0,67.0,1965,15.7,82,japan,honda civic (auto)
385,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
386,25.0,6,181.0,110.0,2945,16.4,82,usa,buick century limited
387,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
388,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevrolet s-10

In [11]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [13]:
df.tail(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
388,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
390,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevrolet s-10

In [22]:
df['name']

0              chevrolet chevelle malibu
1                      buick skylark 320
2                     plymouth satellite
3                          amc rebel sst
4                            ford torino
5                       ford galaxie 500
6                       chevrolet impala
7                      plymouth fury iii
8                       pontiac catalina
9                     amc ambassador dpl
10                   dodge challenger se
11                    plymouth 'cuda 340
12                 chevrolet monte carlo
13               buick estate wagon (sw)
14                 toyota corona mark ii
15                       plymouth duster
16                            amc hornet
17                         ford maverick
18                          datsun pl510
19                  vw 1131 deluxe sedan
20                           peugeot 504
21                           audi 100 ls
                     ...
376                   mazda glc custom l
377                     mazda glc custom
378               plymouth horizon miser
379                       mercury lynx l
380                     nissan stanza xe
381                         honda accord
382                       toyota corolla
383                          honda civic
384                   honda civic (auto)
385                        datsun 310 gx
386                buick century limited
387    oldsmobile cutlass ciera (diesel)
388           chrysler lebaron medallion
389                       ford granada l
390                     toyota celica gt
391                    dodge charger 2.2
392                     chevrolet camaro
393                      ford mustang gl
394                            vw pickup
395                        dodge rampage
396                          ford ranger
397                       chevrolet s-10
Name: name, Length: 398, dtype: object

In [24]:
type(df['name'])

pandas.core.series.Series

In [6]:
df[['name','origin', 'model_year']]

                          name  origin  model_year
0    chevrolet chevelle malibu     usa          70
1            buick skylark 320     usa          70
2           plymouth satellite     usa          70
3                amc rebel sst     usa          70
4                  ford torino     usa          70
..                         ...     ...         ...
393            ford mustang gl     usa          82
394                  vw pickup  europe          82
395              dodge rampage     usa          82
396                ford ranger     usa          82
397             chevrolet s-10     usa          82

[398 rows x 3 columns]

In [11]:
df.name

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397               chevrolet s-10
Name: name, Length: 398, dtype: object

In [15]:
df.name.equals(df["name"])

True

In [12]:
pwd

'/Users/haniatrepkowska/Downloads/Course_Materials_ALL/Course_Materials_Part1'

In [9]:
cd

/Users/haniatrepkowska

In [10]:
cd Downloads

/Users/haniatrepkowska/Downloads

In [11]:
cd Course_Materials_ALL

/Users/haniatrepkowska/Downloads/Course_Materials_ALL

In [12]:
cd Course_Materials_Part2

/Users/haniatrepkowska/Downloads/Course_Materials_ALL/Course_Materials_Part2

In [13]:
cd Coding_Exercises

/Users/haniatrepkowska/Downloads/Course_Materials_ALL/Course_Materials_Part2/Coding_Exercises

In [14]:
summer = pd.read_csv('summer.csv', index_col = 'Athlete')

In [13]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31165 entries, HAJOS, Alfred to LIDBERG, Jimmy
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Country     31161 non-null  object
 5   Gender      31165 non-null  object
 6   Event       31165 non-null  object
 7   Medal       31165 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.1+ MB

In [18]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [27]:
summer.iloc[[1,2,-10]]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"AHMADOV, Emin",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 74 KG,Bronze

In [57]:
summer.iloc[-5:, :1]

                           Year
Athlete
JANIKOWSKI, Damian         2012
REZAEI, Ghasem Gholamreza  2012
TOTROV, Rustam             2012
ALEKSANYAN, Artur          2012
LIDBERG, Jimmy             2012

In [54]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [43]:
summer.iloc[0, [0, 2, 5, 6]]

Year                1896
Sport           Aquatics
Gender               Men
Event     100M Freestyle
Name: HAJOS, Alfred, dtype: object

In [52]:
summer.iloc[:,4].equals(summer.Country)

True

In [20]:
summer.loc['MALOKINIS, Ioannis', ["Medal", "Event"]]

Medal                          Gold
Event    100M Freestyle For Sailors
Name: MALOKINIS, Ioannis, dtype: object

In [23]:
summer.loc['JANIKOWSKI, Damian':]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [25]:
summer.loc['JANIKOWSKI, Damian':'ALEKSANYAN, Artur', 'City':'Discipline']

                             City      Sport           Discipline
Athlete
JANIKOWSKI, Damian         London  Wrestling  Wrestling Freestyle
REZAEI, Ghasem Gholamreza  London  Wrestling  Wrestling Freestyle
TOTROV, Rustam             London  Wrestling  Wrestling Freestyle
ALEKSANYAN, Artur          London  Wrestling  Wrestling Freestyle

In [32]:
summer.loc[['PAVIA, Automne','OCHAL, Glenn'],['Country','Sport']]

               Country   Sport
Athlete
PAVIA, Automne     FRA    Judo
OCHAL, Glenn       USA  Rowing

In [33]:
summer = pd.read_csv('summer.csv')

In [23]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold
"PEPANOS, Antonios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Silver
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100M,Bronze
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100M,Gold
"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100M,Silver
"CURTIS, Thomas",1896,Athens,Athletics,Athletics,USA,Men,110M Hurdles,Gold
"GOULDING, Grantley",1896,Athens,Athletics,Athletics,GBR,Men,110M Hurdles,Silver
"LERMUSIAUX, Albin",1896,Athens,Athletics,Athletics,FRA,Men,1500M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,1500M,Gold
"BLAKE, Arthur",1896,Athens,Athletics,Athletics,USA,Men,1500M,Silver
"GMELIN, Charles",1896,Athens,Athletics,Athletics,GBR,Men,400M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,400M,Gold
"JAMISON, Herbert",1896,Athens,Athletics,Athletics,USA,Men,400M,Silver
"GOLEMIS, Dimitrios",1896,Athens,Athletics,Athletics,GRE,Men,800M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,800M,Gold
"DANI, Nandor",1896,Athens,Athletics,Athletics,HUN,Men,800M,Silver
"VERSIS, Sotirios",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Bronze
"GARRETT, Robert",1896,Athens,Athletics,Athletics,USA,Men,Discus Throw,Gold
"PARASKEVOPOULOS, Panagiotis",1896,Athens,Athletics,Athletics,GRE,Men,Discus Throw,Silver
"CLARK, Ellery",1896,Athens,Athletics,Athletics,USA,Men,High Jump,Gold
...,...,...,...,...,...,...,...,...
"GAZYUMOV, Khetag",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wf 96 KG,Bronze
"GOGSHELIDZE, George",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wf 96 KG,Bronze
"LOPEZ NUNEZ, Mijain",2012,London,Wrestling,Wrestling Freestyle,CUB,Men,Wg 120 KG,Gold
"NABI, Heiki",2012,London,Wrestling,Wrestling Freestyle,EST,Men,Wg 120 KG,Silver
"EUREN, Johan",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 120 KG,Bronze
"KAYAALP, Riza",2012,London,Wrestling,Wrestling Freestyle,TUR,Men,Wg 120 KG,Bronze
"SORYAN REIHANPOUR, Hamid Mohammad",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 55 KG,Gold
"BAYRAMOV, Rovshan",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 55 KG,Silver
"MODOS, Peter",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 55 KG,Bronze
"SEMENOV, Mingiyan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 55 KG,Bronze
"NOROOZI, Omid Haji",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 60 KG,Gold
"LASHKHI, Revaz",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 60 KG,Silver
"KURAMAGOMEDOV, Zaur",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 60 KG,Bronze
"MATSUMOTO, Ryutaro",2012,London,Wrestling,Wrestling Freestyle,JPN,Men,Wg 60 KG,Bronze
"KIM, Hyeonwoo",2012,London,Wrestling,Wrestling Freestyle,KOR,Men,Wg 66 KG,Gold
"LORINCZ, Tamas",2012,London,Wrestling,Wrestling Freestyle,HUN,Men,Wg 66 KG,Silver
"GUENOT, Steeve",2012,London,Wrestling,Wrestling Freestyle,FRA,Men,Wg 66 KG,Bronze
"TSKHADAIA, Manuchar",2012,London,Wrestling,Wrestling Freestyle,GEO,Men,Wg 66 KG,Bronze
"VLASOV, Roman",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 74 KG,Gold
"JULFALAKYAN, Arsen",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 74 KG,Silver
"AHMADOV, Emin",2012,London,Wrestling,Wrestling Freestyle,AZE,Men,Wg 74 KG,Bronze
"KAZAKEVIC, Aleksandr",2012,London,Wrestling,Wrestling Freestyle,LTU,Men,Wg 74 KG,Bronze
"KHUGAEV, Alan",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 84 KG,Gold
"EBRAHIM, Karam Mohamed Gaber",2012,London,Wrestling,Wrestling Freestyle,EGY,Men,Wg 84 KG,Silver
"GAJIYEV, Danyal",2012,London,Wrestling,Wrestling Freestyle,KAZ,Men,Wg 84 KG,Bronze
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [36]:
summer.loc[[0, 5, 30000],['Athlete', 'Medal']]

                     Athlete   Medal
0              HAJOS, Alfred    Gold
5      CHOROPHAS, Efstathios  Bronze
30000       PAUTARAN, Maryna  Bronze

In [38]:
summer.reindex(index = [0, 5, 30000, 40000], columns = ['Athlete', 'Medal', 'Age'])

                     Athlete   Medal  Age
0              HAJOS, Alfred    Gold  NaN
5      CHOROPHAS, Efstathios  Bronze  NaN
30000       PAUTARAN, Maryna  Bronze  NaN
40000                    NaN     NaN  NaN

In [40]:
summer.loc[[0, 5, 30000],['Athlete', 'Medal']]

                     Athlete   Medal
0              HAJOS, Alfred    Gold
5      CHOROPHAS, Efstathios  Bronze
30000       PAUTARAN, Maryna  Bronze

In [25]:
# Select rows where 'Year' is greater than 2000 and 'Country' is 'USA'
summer[(summer['Year'] > 2000) & (summer['Country'] == 'USA')]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"PEIRSOL, Aaron",2004,Athens,Aquatics,Swimming,USA,Men,100M Backstroke,Gold
"COUGHLIN, Natalie",2004,Athens,Aquatics,Swimming,USA,Women,100M Backstroke,Gold
"HANSEN, Brendan",2004,Athens,Aquatics,Swimming,USA,Men,100M Breaststroke,Silver
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"CROCKER, Ian",2004,Athens,Aquatics,Swimming,USA,Men,100M Butterfly,Silver
"COUGHLIN, Natalie",2004,Athens,Aquatics,Swimming,USA,Women,100M Freestyle,Bronze
"JENSEN, Larsen",2004,Athens,Aquatics,Swimming,USA,Men,1500M Freestyle,Silver
"PEIRSOL, Aaron",2004,Athens,Aquatics,Swimming,USA,Men,200M Backstroke,Gold
"HANSEN, Brendan",2004,Athens,Aquatics,Swimming,USA,Men,200M Breaststroke,Bronze
"BEARD, Amanda",2004,Athens,Aquatics,Swimming,USA,Women,200M Breaststroke,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Butterfly,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Freestyle,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Individual Medley,Gold
"LOCHTE, Ryan",2004,Athens,Aquatics,Swimming,USA,Men,200M Individual Medley,Silver
"BEARD, Amanda",2004,Athens,Aquatics,Swimming,USA,Women,200M Individual Medley,Silver
"KELLER, Klete",2004,Athens,Aquatics,Swimming,USA,Men,400M Freestyle,Bronze
"SANDENO, Kaitlin",2004,Athens,Aquatics,Swimming,USA,Women,400M Freestyle,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,400M Individual Medley,Gold
"VENDT, Erik",2004,Athens,Aquatics,Swimming,USA,Men,400M Individual Medley,Silver
"SANDENO, Kaitlin",2004,Athens,Aquatics,Swimming,USA,Women,400M Individual Medley,Silver
"CROCKER, Ian",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"DUSING, Nate",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"HALL, Gary Jr.",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"LEZAK, Jason",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"WALKER, Neil",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"WOODWARD, Gabe",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"BENKO, Lindsay",2004,Athens,Aquatics,Swimming,USA,Women,4X100M Freestyle Relay,Silver
"CORREIA, Maritza",2004,Athens,Aquatics,Swimming,USA,Women,4X100M Freestyle Relay,Silver
"COUGHLIN, Natalie",2004,Athens,Aquatics,Swimming,USA,Women,4X100M Freestyle Relay,Silver
...,...,...,...,...,...,...,...,...
"RHODE, Kimberly",2012,London,Shooting,Shooting,USA,Women,Skeet,Gold
"MCPHERSON, Paige",2012,London,Taekwondo,Taekwondo,USA,Women,57 - 67 KG,Bronze
"JENNINGS, Terrence",2012,London,Taekwondo,Taekwondo,USA,Men,58 - 68 KG,Bronze
"BRYAN, Bob",2012,London,Tennis,Tennis,USA,Men,Doubles,Gold
"BRYAN, Mike",2012,London,Tennis,Tennis,USA,Men,Doubles,Gold
"WILLIAMS, Serena",2012,London,Tennis,Tennis,USA,Women,Doubles,Gold
"WILLIAMS, Venus",2012,London,Tennis,Tennis,USA,Women,Doubles,Gold
"BRYAN, Mike",2012,London,Tennis,Tennis,USA,Men,Mixed Doubles,Bronze
"RAYMOND, Lisa",2012,London,Tennis,Tennis,USA,Women,Mixed Doubles,Bronze
"WILLIAMS, Serena",2012,London,Tennis,Tennis,USA,Women,Singles,Gold
"MAY, Misty",2012,London,Volleyball,Beach Volleyball,USA,Women,Beach Volleyball,Gold
"WALSH JENNINGS, Kerri",2012,London,Volleyball,Beach Volleyball,USA,Women,Beach Volleyball,Gold
"KESSY, Jennifer",2012,London,Volleyball,Beach Volleyball,USA,Women,Beach Volleyball,Silver
"ROSS, April",2012,London,Volleyball,Beach Volleyball,USA,Women,Beach Volleyball,Silver
"AKINRADEWO, Foluke",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"BERG, Lindsey",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"DAVIS, Nicole",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"HANEEF-PARK, Tayyiba",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"HARMOTTO, Christa",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"HODGE, Megan",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"HOOKER, Destinee",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"LARSON, Jordan",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"MIYASHIRO, Tamari",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"SCOTT, Danielle",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"THOMPSON, Courtney",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"TOM, Logan",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"CHUN, Clarissa Kyoko Mei Ling",2012,London,Wrestling,Wrestling Freestyle,USA,Women,Wf 48 KG,Bronze
"SCOTT, Coleman",2012,London,Wrestling,Wrestling Freestyle,USA,Men,Wf 60 KG,Bronze
"BURROUGHS, Jordan Ernest",2012,London,Wrestling,Wrestling Freestyle,USA,Men,Wf 74 KG,Gold
"VARNER, Jacob Stephen",2012,London,Wrestling,Wrestling Freestyle,USA,Men,Wf 96 KG,Gold

In [26]:
summer.query('Year > 2000 and Country == "USA"')

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"PEIRSOL, Aaron",2004,Athens,Aquatics,Swimming,USA,Men,100M Backstroke,Gold
"COUGHLIN, Natalie",2004,Athens,Aquatics,Swimming,USA,Women,100M Backstroke,Gold
"HANSEN, Brendan",2004,Athens,Aquatics,Swimming,USA,Men,100M Breaststroke,Silver
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"CROCKER, Ian",2004,Athens,Aquatics,Swimming,USA,Men,100M Butterfly,Silver
"COUGHLIN, Natalie",2004,Athens,Aquatics,Swimming,USA,Women,100M Freestyle,Bronze
"JENSEN, Larsen",2004,Athens,Aquatics,Swimming,USA,Men,1500M Freestyle,Silver
"PEIRSOL, Aaron",2004,Athens,Aquatics,Swimming,USA,Men,200M Backstroke,Gold
"HANSEN, Brendan",2004,Athens,Aquatics,Swimming,USA,Men,200M Breaststroke,Bronze
"BEARD, Amanda",2004,Athens,Aquatics,Swimming,USA,Women,200M Breaststroke,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Butterfly,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Freestyle,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Individual Medley,Gold
"LOCHTE, Ryan",2004,Athens,Aquatics,Swimming,USA,Men,200M Individual Medley,Silver
"BEARD, Amanda",2004,Athens,Aquatics,Swimming,USA,Women,200M Individual Medley,Silver
"KELLER, Klete",2004,Athens,Aquatics,Swimming,USA,Men,400M Freestyle,Bronze
"SANDENO, Kaitlin",2004,Athens,Aquatics,Swimming,USA,Women,400M Freestyle,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,400M Individual Medley,Gold
"VENDT, Erik",2004,Athens,Aquatics,Swimming,USA,Men,400M Individual Medley,Silver
"SANDENO, Kaitlin",2004,Athens,Aquatics,Swimming,USA,Women,400M Individual Medley,Silver
"CROCKER, Ian",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"DUSING, Nate",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"HALL, Gary Jr.",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"LEZAK, Jason",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"WALKER, Neil",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"WOODWARD, Gabe",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"BENKO, Lindsay",2004,Athens,Aquatics,Swimming,USA,Women,4X100M Freestyle Relay,Silver
"CORREIA, Maritza",2004,Athens,Aquatics,Swimming,USA,Women,4X100M Freestyle Relay,Silver
"COUGHLIN, Natalie",2004,Athens,Aquatics,Swimming,USA,Women,4X100M Freestyle Relay,Silver
...,...,...,...,...,...,...,...,...
"RHODE, Kimberly",2012,London,Shooting,Shooting,USA,Women,Skeet,Gold
"MCPHERSON, Paige",2012,London,Taekwondo,Taekwondo,USA,Women,57 - 67 KG,Bronze
"JENNINGS, Terrence",2012,London,Taekwondo,Taekwondo,USA,Men,58 - 68 KG,Bronze
"BRYAN, Bob",2012,London,Tennis,Tennis,USA,Men,Doubles,Gold
"BRYAN, Mike",2012,London,Tennis,Tennis,USA,Men,Doubles,Gold
"WILLIAMS, Serena",2012,London,Tennis,Tennis,USA,Women,Doubles,Gold
"WILLIAMS, Venus",2012,London,Tennis,Tennis,USA,Women,Doubles,Gold
"BRYAN, Mike",2012,London,Tennis,Tennis,USA,Men,Mixed Doubles,Bronze
"RAYMOND, Lisa",2012,London,Tennis,Tennis,USA,Women,Mixed Doubles,Bronze
"WILLIAMS, Serena",2012,London,Tennis,Tennis,USA,Women,Singles,Gold
"MAY, Misty",2012,London,Volleyball,Beach Volleyball,USA,Women,Beach Volleyball,Gold
"WALSH JENNINGS, Kerri",2012,London,Volleyball,Beach Volleyball,USA,Women,Beach Volleyball,Gold
"KESSY, Jennifer",2012,London,Volleyball,Beach Volleyball,USA,Women,Beach Volleyball,Silver
"ROSS, April",2012,London,Volleyball,Beach Volleyball,USA,Women,Beach Volleyball,Silver
"AKINRADEWO, Foluke",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"BERG, Lindsey",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"DAVIS, Nicole",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"HANEEF-PARK, Tayyiba",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"HARMOTTO, Christa",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"HODGE, Megan",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"HOOKER, Destinee",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"LARSON, Jordan",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"MIYASHIRO, Tamari",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"SCOTT, Danielle",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"THOMPSON, Courtney",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"TOM, Logan",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"CHUN, Clarissa Kyoko Mei Ling",2012,London,Wrestling,Wrestling Freestyle,USA,Women,Wf 48 KG,Bronze
"SCOTT, Coleman",2012,London,Wrestling,Wrestling Freestyle,USA,Men,Wf 60 KG,Bronze
"BURROUGHS, Jordan Ernest",2012,London,Wrestling,Wrestling Freestyle,USA,Men,Wf 74 KG,Gold
"VARNER, Jacob Stephen",2012,London,Wrestling,Wrestling Freestyle,USA,Men,Wf 96 KG,Gold

In [27]:
summer.query('Year > 2000 and Country == "USA"')

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"PEIRSOL, Aaron",2004,Athens,Aquatics,Swimming,USA,Men,100M Backstroke,Gold
"COUGHLIN, Natalie",2004,Athens,Aquatics,Swimming,USA,Women,100M Backstroke,Gold
"HANSEN, Brendan",2004,Athens,Aquatics,Swimming,USA,Men,100M Breaststroke,Silver
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,100M Butterfly,Gold
"CROCKER, Ian",2004,Athens,Aquatics,Swimming,USA,Men,100M Butterfly,Silver
"COUGHLIN, Natalie",2004,Athens,Aquatics,Swimming,USA,Women,100M Freestyle,Bronze
"JENSEN, Larsen",2004,Athens,Aquatics,Swimming,USA,Men,1500M Freestyle,Silver
"PEIRSOL, Aaron",2004,Athens,Aquatics,Swimming,USA,Men,200M Backstroke,Gold
"HANSEN, Brendan",2004,Athens,Aquatics,Swimming,USA,Men,200M Breaststroke,Bronze
"BEARD, Amanda",2004,Athens,Aquatics,Swimming,USA,Women,200M Breaststroke,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Butterfly,Gold
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Freestyle,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,200M Individual Medley,Gold
"LOCHTE, Ryan",2004,Athens,Aquatics,Swimming,USA,Men,200M Individual Medley,Silver
"BEARD, Amanda",2004,Athens,Aquatics,Swimming,USA,Women,200M Individual Medley,Silver
"KELLER, Klete",2004,Athens,Aquatics,Swimming,USA,Men,400M Freestyle,Bronze
"SANDENO, Kaitlin",2004,Athens,Aquatics,Swimming,USA,Women,400M Freestyle,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,400M Individual Medley,Gold
"VENDT, Erik",2004,Athens,Aquatics,Swimming,USA,Men,400M Individual Medley,Silver
"SANDENO, Kaitlin",2004,Athens,Aquatics,Swimming,USA,Women,400M Individual Medley,Silver
"CROCKER, Ian",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"DUSING, Nate",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"HALL, Gary Jr.",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"LEZAK, Jason",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"WALKER, Neil",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"WOODWARD, Gabe",2004,Athens,Aquatics,Swimming,USA,Men,4X100M Freestyle Relay,Bronze
"BENKO, Lindsay",2004,Athens,Aquatics,Swimming,USA,Women,4X100M Freestyle Relay,Silver
"CORREIA, Maritza",2004,Athens,Aquatics,Swimming,USA,Women,4X100M Freestyle Relay,Silver
"COUGHLIN, Natalie",2004,Athens,Aquatics,Swimming,USA,Women,4X100M Freestyle Relay,Silver
...,...,...,...,...,...,...,...,...
"RHODE, Kimberly",2012,London,Shooting,Shooting,USA,Women,Skeet,Gold
"MCPHERSON, Paige",2012,London,Taekwondo,Taekwondo,USA,Women,57 - 67 KG,Bronze
"JENNINGS, Terrence",2012,London,Taekwondo,Taekwondo,USA,Men,58 - 68 KG,Bronze
"BRYAN, Bob",2012,London,Tennis,Tennis,USA,Men,Doubles,Gold
"BRYAN, Mike",2012,London,Tennis,Tennis,USA,Men,Doubles,Gold
"WILLIAMS, Serena",2012,London,Tennis,Tennis,USA,Women,Doubles,Gold
"WILLIAMS, Venus",2012,London,Tennis,Tennis,USA,Women,Doubles,Gold
"BRYAN, Mike",2012,London,Tennis,Tennis,USA,Men,Mixed Doubles,Bronze
"RAYMOND, Lisa",2012,London,Tennis,Tennis,USA,Women,Mixed Doubles,Bronze
"WILLIAMS, Serena",2012,London,Tennis,Tennis,USA,Women,Singles,Gold
"MAY, Misty",2012,London,Volleyball,Beach Volleyball,USA,Women,Beach Volleyball,Gold
"WALSH JENNINGS, Kerri",2012,London,Volleyball,Beach Volleyball,USA,Women,Beach Volleyball,Gold
"KESSY, Jennifer",2012,London,Volleyball,Beach Volleyball,USA,Women,Beach Volleyball,Silver
"ROSS, April",2012,London,Volleyball,Beach Volleyball,USA,Women,Beach Volleyball,Silver
"AKINRADEWO, Foluke",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"BERG, Lindsey",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"DAVIS, Nicole",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"HANEEF-PARK, Tayyiba",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"HARMOTTO, Christa",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"HODGE, Megan",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"HOOKER, Destinee",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"LARSON, Jordan",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"MIYASHIRO, Tamari",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"SCOTT, Danielle",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"THOMPSON, Courtney",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"TOM, Logan",2012,London,Volleyball,Volleyball,USA,Women,Volleyball,Silver
"CHUN, Clarissa Kyoko Mei Ling",2012,London,Wrestling,Wrestling Freestyle,USA,Women,Wf 48 KG,Bronze
"SCOTT, Coleman",2012,London,Wrestling,Wrestling Freestyle,USA,Men,Wf 60 KG,Bronze
"BURROUGHS, Jordan Ernest",2012,London,Wrestling,Wrestling Freestyle,USA,Men,Wf 74 KG,Gold
"VARNER, Jacob Stephen",2012,London,Wrestling,Wrestling Freestyle,USA,Men,Wf 96 KG,Gold

In [14]:
print(summer['Year'].mean())
print(summer['Year'].median())

1970.482785175678
1980.0

In [16]:
print(summer['Medal'].value_counts())

Medal
Gold      10486
Bronze    10369
Silver    10310
Name: count, dtype: int64

In [17]:
print(summer.sort_values(by='Year'))

                      Year    City       Sport           Discipline Country  \
Athlete
HAJOS, Alfred         1896  Athens    Aquatics             Swimming     HUN
LOUNDRAS, Dimitrios   1896  Athens  Gymnastics          Artistic G.     GRE
MITROPOULOS, Ioannis  1896  Athens  Gymnastics          Artistic G.     GRE
BÃ–CKER, Konrad        1896  Athens  Gymnastics          Artistic G.     GER
FLATOW, Alfred        1896  Athens  Gymnastics          Artistic G.     GER
...                    ...     ...         ...                  ...     ...
CAMBAGE, Elizabeth    2012  London  Basketball           Basketball     AUS
BISHOP, Abby          2012  London  Basketball           Basketball     AUS
BATKOVIC, Suzy        2012  London  Basketball           Basketball     AUS
CAMPBELL, Luke        2012  London      Boxing               Boxing     GBR
LIDBERG, Jimmy        2012  London   Wrestling  Wrestling Freestyle     SWE

                     Gender                Event   Medal
Athlete
HAJOS, Alfred           Men       100M Freestyle    Gold
LOUNDRAS, Dimitrios     Men  Team, Parallel Bars  Bronze
MITROPOULOS, Ioannis    Men  Team, Parallel Bars  Bronze
BÃ–CKER, Konrad          Men  Team, Parallel Bars    Gold
FLATOW, Alfred          Men  Team, Parallel Bars    Gold
...                     ...                  ...     ...
CAMBAGE, Elizabeth    Women           Basketball  Bronze
BISHOP, Abby          Women           Basketball  Bronze
BATKOVIC, Suzy        Women           Basketball  Bronze
CAMPBELL, Luke          Men                 56KG    Gold
LIDBERG, Jimmy          Men             Wg 96 KG  Bronze

[31165 rows x 8 columns]

In [19]:
unique_values = summer.nunique()
print("Unique values in each column:")
print(unique_values)

Unique values in each column:
Year           27
City           22
Sport          43
Discipline     67
Country       147
Gender          2
Event         666
Medal           3
dtype: int64

In [20]:
non_unique_values = summer.size - unique_values
print("\nNon-unique values in each column:")
print(non_unique_values)

Non-unique values in each column:
Year          249293
City          249298
Sport         249277
Discipline    249253
Country       249173
Gender        249318
Event         248654
Medal         249317
dtype: int64

In [16]:
sprint_events = [summer['Event'].str.contains('Sprint', case=False, regex=True)]
print("Events containing 'Sprint':")
print(sprint_events)

Events containing 'Sprint':
[Athlete
HAJOS, Alfred                False
HERSCHMANN, Otto             False
DRIVAS, Dimitrios            False
MALOKINIS, Ioannis           False
CHASAPIS, Spiridon           False
                             ...
JANIKOWSKI, Damian           False
REZAEI, Ghasem Gholamreza    False
TOTROV, Rustam               False
ALEKSANYAN, Artur            False
LIDBERG, Jimmy               False
Name: Event, Length: 31165, dtype: bool]